{%extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{%block content%}
<style> 
#main {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#main div {
   flex: 1;
}

</style>
<script type="text/javascript">
 	function searchColab(){
 		if(document.getElementById('Procurar').hidden == true){
	 		document.getElementById('Procurar').hidden = false;
	 		document.getElementById('Cadastrar').hidden = true;
	 		document.getElementById('Atualizar').hidden = true;
	 		document.getElementById('Apagar').hidden = true;
 		}
 		else{
 			document.getElementById('Procurar').hidden = true;
 		}
 	}
 	function cadColab(){
 		if(document.getElementById("Cadastrar").hidden == true){
	 		document.getElementById('Procurar').hidden = true;
	 		document.getElementById('Cadastrar').hidden = false;
	 		document.getElementById('Atualizar').hidden = true;
	 		document.getElementById('Apagar').hidden = true;
 		}
 		else{
 			document.getElementById('Cadastrar').hidden = true;
 		}
 	}
 	function updColab(){
 		if(document.getElementById("Atualizar").hidden == true){
	 		document.getElementById('Procurar').hidden = true;
	 		document.getElementById('Cadastrar').hidden = true;
	 		document.getElementById('Atualizar').hidden = false;
	 		document.getElementById('Apagar').hidden = true;
 		}
 		else{
 			document.getElementById('Atualizar').hidden = true;
 		}
 	}
 	function delColab(){
 		if(document.getElementById("Apagar").hidden == true){
			document.getElementById('Procurar').hidden = true;
	 		document.getElementById('Cadastrar').hidden = true;
	 		document.getElementById('Atualizar').hidden = true;
	 		document.getElementById('Apagar').hidden = false;
 		}
 		else{
 			document.getElementById('Apagar').hidden = true;
 		}
 	}
 </script>
<div class="container">
	{%if status and status>= 400%}
	{% for message in get_flashed_messages() %}
	<div class="alert alert-danger">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    {{ message }}
	</div>
	{% endfor %}
	{%else%}
	{% for message in get_flashed_messages() %}
	<div class="alert alert-success">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    {{ message }}
	</div>
	{% endfor %}
	{%endif%}
</div>

<div class="container" id="main">
	<button type="button" class="btn btn-primary btn-lg btn-block" onclick="searchColab()">Procurar Colaborador</button>
	<div class="container" style="width: 100%" id="Procurar" hidden>
		<form  action="/appInfo/Procurar", method="POST" >
		{% for field in form %}
		{%if field.id != "csrf_token"%}
   		{{field(class_="form-control")}}
   		{%endif%}
		{% endfor %}
		</form>
	</div>
</div>
<br>
<div class="container" id="main">
	<button type="button" class="btn btn-primary btn-lg btn-block" onclick="cadColab()">Cadastrar Colaborador</button>
	<div class="container" style="width: 100%" id="Cadastrar" hidden >
		<form  action="/appInfo/Cadastrar" method="POST">
		{% for field in form2 %}
		{%if field.id != "csrf_token"%}
   		{{field(class_="form-control")}}
   		{%endif%}
		{% endfor %}
		</form>
	</div>
</div>
<br>
<div class="container" id="main">
	<button type="button" class="btn btn-primary btn-lg btn-block" onclick="updColab()">Atualizar Colaborador</button>
	<div class="container" style="width: 100%" id="Atualizar" hidden="true">
		<form  action='/appInfo/Atualizar' method="POST">
		{% for field in form2 %}
		{%if field.id != "csrf_token"%}
   		{{field(class_="form-control")}}
   		{%endif%}
		{% endfor %}
		</form>
	</div>
</div>
<br>
<div class="container" id="main">
	<button type="button" class="btn btn-primary btn-lg btn-block" onclick="delColab()">Apagar Colaborador</button>
	<div class="container" style="width: 100%" id="Apagar" hidden="true">
		<form  action = "/appInfo/Remover" method="POST">
		{% for field in form %}
		{%if field.id != "csrf_token"%}
   		{{field(class_="form-control")}}
   		{%endif%}
		{% endfor %}
		</form>
	</div>
</div>
<br>

<div class="container" id="result" style="height: 600px;overflow-y:auto;overflow-x: auto;">
	{%if info%}
	{%for colaborator in info%}
	{%if colaborator != "Questions"%}
	<h4 style="text-align: center;">Nome do Colaborador: {{info[colaborator]["name"]}}</h4>
	<h4 style="text-align: center;">E-Mail do Colaborador: {{info[colaborator]["user_email"]}}</h4>
	<div class = "container"  style="height: 200px;overflow-y:auto;overflow-x: auto;">
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Avaliação</th>
					<th scope="col">Horário</th>
					<th scope="col">Comentário</th>
					{%for i in info["Questions"]%}
					<th scope="col">{{i}}</th>
					{%endfor%}
				</tr>
			</thead>
			<tbody>
				{%for evaluation in info[colaborator]['evaluation']%}
					<tr>
					<th scope="row">{{loop.index}}</th>
					<td>{{evaluation["Avaliação"]}}</td>
					<td>{{evaluation["Horário"]}}</td>
					<td>{{evaluation["Comentário"]}}</td>
					{%for q in info["Questions"]%}
					<td>{{evaluation[q]}}</td>
					{%endfor%}
					</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%endif%}
	{%endfor%}
	{%endif%}
</div>

{%endblock%}

